.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 41px;
}

.block {
    width: 563px;
    height: 385px;

}

.text {
    font-family: Raleway;
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0.02em;
    text-align: left;

}

.p {

    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;

}

.btn {
    width: 300px;
    height: 68px;
    background-color: #6E9C9F;
    color: #FFFFFF;
    border: none;
    margin-top: 66px;
}

.img {
    width: 434px;
    height: 652px;

}